@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(240, 240, 240);
}
.container {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;

  width: fit-content;
  margin: 2rem auto;
  padding-bottom: 2rem;
  background-color: rgba(210, 209, 209, 0.5);
  border-radius: 1rem;
}
.image {
  height: 380px;
  width: 380px;
  border-radius: 1rem 1rem 0rem 0rem;
}
.info {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.slack-name {
  font-weight: 300;
}
.gitHub {
  outline: 1px solid rgb(174, 173, 173);
  padding: 0.7rem 2rem;
  width: 80%;
  text-align: center;
  border-radius: 2rem;
  text-decoration: none;
  color: black;
}
.gitHub:hover {
  background-color: rgb(84, 84, 84);
  color: white;
  text-decoration: none;
}
